# system
/.vscode/*
!/.vscode/extensions.json
/.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# NodeJS
/build
/node_modules
/dist
/dist-electron
/release
/dist-ssr
*.local
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Python
__pycache__

# app
/log
/input
/output
/userdata

*.lg
/*.log
/*.xlsx
/*.json
/package-lock.json

# extra
!/tsconfig*.json