name: Manual Build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      actions: write
      checks: write
      contents: write
      deployments: write
      issues: write
      packages: write
      pages: write
      pull-requests: write
      repository-projects: write
      security-events: write
      statuses: write

    steps:
    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.12

    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Check Version
      id: check_version
      shell: pwsh
      run: |
        $version = Get-Content -Path version.txt
        echo "version=$version" | Out-File -FilePath $env:GITHUB_OUTPUT -Append

    - name: Generate requirements.txt
      shell: cmd
      run: |
        python -m pip install tomli
        python .\buildtools\generate_deps.py

    - name: Install Requirements
      shell: cmd
      run: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade setuptools
        python -m pip install pyinstaller
        python -m pip install -U -r requirements.txt
        python -m pip cache purge

    - name: Build EXE
      shell: cmd
      run: |
        python .\buildtools\build_exe.py

    - name: Copy Files
      shell: cmd
      run: |
        xcopy ".\version.txt" ".\dist\LinguaGacha\" /Q /Y
        xcopy ".\resource\" ".\dist\LinguaGacha\resource\" /E /I /Q /H /Y

    - name: Compress Archive
      shell: pwsh
      run: |
        Compress-Archive -Path .\dist\* -DestinationPath "LinguaGacha_${{ steps.check_version.outputs.version }}.zip" -CompressionLevel Optimal -Force

    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        tag_name: MANUAL_BUILD_${{ steps.check_version.outputs.version }}
        name: LinguaGacha_${{ steps.check_version.outputs.version }}
        draft: true
        prerelease: false
        files: LinguaGacha_${{ steps.check_version.outputs.version }}.zip
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}